@using TP02.Models.Entity;
@model BillOfLading

@{
    ViewData["Title"] = "Detalhes - Bill";
}

<h1>Detalhes</h1>

<div>
    <h4>BL</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Consignee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Consignee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Navio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Navio)
        </dd>
    </dl>

    <div>
        <h4>Containers</h4>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Numero")
                    </th>
                    <th>
                        @Html.DisplayName("Tipo")
                    </th>
                    <th>
                        @Html.DisplayName("Tamanho")
                    </th>
                    <th>
                        @Html.DisplayName("Bill")
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Containers)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Numero)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tipo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tamanho)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Bill.Id)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-controller="Containers" asp-route-id="@item.Id">Editar</a> |
                            <a asp-action="Details" asp-controller="Containers"  asp-route-id="@item.Id">Detalhes</a> |
                            <a asp-action="Delete" asp-controller="Containers"  asp-route-id="@item.Id">Deletar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Voltar para lista</a>
</div>
