@using TP02.Models.Entity;
@model IEnumerable<BillOfLading>

@{
    ViewData["Title"] = "BLs";
}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="mb-0">Tabela de BLs</h1>
    <a asp-action="Create" class="btn btn-secondary">Novo BL</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Consignee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Navio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Numero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Consignee)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Navio)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
